<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionSettings" value="key0"/>
    <add key="vaterTable" value="Actor"/>
    <add key="kindTable" value="ActorAward"/>
    <!--<add key="vaterTable" value="Film"/>
    <add key="kindTable" value="Reviews"/>-->
  </appSettings>
  <connectionStrings>
    <add name="Connection" connectionString="Server = RARES-DAN-ASUS\SQLEXPRESS; Database = VideoRental; Trusted_Connection = True"/>
  </connectionStrings>
</configuration>